/****** Pub visuel svg ********/

.pub{
  opacity: 1;
}

.cls-1 {
  fill: none;
}
.cls-1, .cls-11 {
  stroke: #000;
  stroke-miterlimit: 10;
}
.cls-2 {
  font-size: 72px;
  font-family: Bungee-Shade, Bungee Shade;
  letter-spacing: 0em;
}
.cls-3 {
  letter-spacing: 0.01em;
}
.cls-4 {
  letter-spacing: 0em;
}
.cls-5 {
  letter-spacing: -0.03em;
}
.cls-6, .cls-8 {
  fill: #fbb03b;
}
.cls-6 {
  fill-rule: evenodd;
}
.cls-7 {
  fill: #e6e6e6;
}
.cls-10, .cls-9 {
  font-size: 50.3px;
}
.cls-9 {
  font-family: ComicSansMS-Italic, Comic Sans MS;
  font-style: italic;
}
.cls-10 {
  font-family: ComicSansMS-Bold, Comic Sans MS;
  font-weight: 700;
}
.cls-11 {
  fill: #fff;
}

.svg_rect{
  width: 970.4px;
  height: 250.9px;
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 6px;
}

#mention_legal{
  font: italic 50px;
}

/****** animation ********/

/******* keyframe 1 *******/
#kf1-lignes{
  opacity: 0;
  animation: anim_kf1_lignes 4s;
}

#kf1-phortnot{
  opacity: 0;
  animation: anim_texte_phortnot 3s 1s;
}

@keyframes anim_kf1_lignes{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  95%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes anim_texte_phortnot{
  0%{
    opacity: 0;
  }
  95%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

/******* keyframe 2 *******/

#kf2_texte{
  opacity: 0;
  animation: anim_kf2_texte 3s 7s cubic-bezier(.17,.23,.88,1.28);
}

#bonhomme{
  transform-origin: 460px 150px;
  transform: translate(-113px, 0px);
  animation: anim_bonhomme 5s 4s cubic-bezier(.11,.82,.96,.99);
  fill: #000;
}

#bonhomme :nth-child(1),
#bonhomme :nth-child(2),
#bonhomme :nth-child(3),
#bonhomme :nth-child(4),
#bonhomme :nth-child(5),
#bonhomme :nth-child(6),
#bonhomme :nth-child(7) {
  fill: #000000;
}

#bonhomme :nth-child(8),
#bonhomme :nth-child(9),
#bonhomme :nth-child(10) {
  fill: #FFFFFF;
}

#cible{
  opacity: 0;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: anim_cible 6s 4s linear;
}

@keyframes anim_kf2_texte {
  60%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes anim_bonhomme {
  25%{
    transform: scale(1);
  }
  90%{
  }
  100%{
    transform: translate(460px, 150px);
    transform: scale(0);
  }
}

@keyframes anim_cible {
  0%{
    opacity: 1;
  }
  50%{
    stroke-dashoffset: 0;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

/******* keyframe 3 *******/
#fond-couleur{
  transform: translateX(971px);
  animation: anim_fond_couleur 1s 9400ms linear forwards;
}

#Ellipse{
  transform-origin: 750px 150px;
  animation: anim_ellipse 2s 11500ms linear forwards;
  transform: scale(0);
}

#texte-ouvert{
  opacity: 0;
  transform-origin: 750px 150px;
  animation: anim_texte_ouvert 2s 14300ms linear 2 forwards;
}

#texte-tournoi {
  animation: anim_texte_tournoi 1s 13300ms cubic-bezier(.17,.23,.88,2.28) forwards;
  transform: translateY(-60px);
  opacity: 1;
}

@keyframes anim_texte_ouvert {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 1;
    transform: rotateX(360deg);
  }
}

@keyframes anim_fond_couleur {
  100% {
    transform: translateX(0px);
  }
}

@keyframes anim_ellipse {
  80% {
    transform: scale(1.5);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes anim_texte_tournoi {
  from {
    transform: translateY(-60px);
  }
  
  to {
    transform: translateY(0);
  }
}

#kf1-phortnot,
#kf2_texte,
#bonhomme,
#cible,
#fond-couleur,
#Ellipse,
#texte-ouvert,
#texte-tournoi,
#kf1-lignes{
  animation-play-state: paused;
}

