*{ box-sizing: border-box;}

body
{
  margin: 0px;
  background: #282828;
  line-height: 178%;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  min-height: 100vh;
}

h1 {
  margin: 0 0 2% 0;
  text-align: center;
}

p, ul {margin-top: 0;}

p {line-height: 180%;}

a {text-decoration: none;}

.container
{
  max-width: 1024px;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  justify-content: space-between;
  margin: 0 auto;
}

.container_blog{
  flex-direction: column;
}

#logo
{
  transform: translateY(-60px) ;
}

#logo a 
{
  color: #C6A687;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button,
.button2
{
  padding: 1%;
  background: #282828;
  letter-spacing: 0.20em;
  letter-spacing: 5%;
  text-transform: uppercase;
  font-weight: 400;
  color: #FFF;
  border-radius: 20px;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header {padding: 2% 2%;}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu li,
#menuPrincipale li {  display: inline-block;}

#menu li a,
#menuPrincipale li a
{
  padding: 0.5em 0.7em;
  color: #FFFFFF;
}

#menu li:hover a, #menu li.active a,
#menuPrincipale li:hover a, #menuPrincipale li.active a
{
  background: rgba(63,69,69,0.8);
  border-radius: 20px;
  color: rgba(255,255,255,0.8);
}

.show-on-mobile{
  display: none;
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#page
{
  padding: 2% 0.5%;
  background: #C6A687;
  opacity: .8;
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright {padding: 5% 0%;}

#copyright p
{
  letter-spacing: 0.20em;
  text-transform: uppercase;
  font-size: 0.80em;
  color: rgba(255,255,255,0.5);
}

.justifyCenter{
  justify-content: center;
}


/*********************************************************************************/
/* Contenu                                                                       */
/*********************************************************************************/
.div_img_champion{
  position: relative;
  width: 100%;
}

.contenu
{
  position: relative;
  flex-basis: 100%;
  text-align: center;
}

.container_blog article {
  margin-bottom: 3%;
}

.container_blog footer {
  font-size: 0.7em;
}

.contenuBackground{
  background-color: rgba(255,255,255,0.1);
  /* flex-basis: 50%; */
}

.contenu_champions 
{
  position: relative;
  flex-basis: content;
  text-align: center;
}

.contenu,
.contenu_champions  {padding: .5%;}

.contenu a,
.contenu_champions a 
{
  bottom: 0;
}

table{
  margin-left: auto;
  margin-right: auto;
}

th{
  padding: 0% 0.5%;
}

td{
  padding: 2% 0.5%;
  border-bottom:  1px solid #000000;
}

.img_champion{
  width: 1%;
}

/*********************************************************************************/
/* Formulaire                                                                   */
/*********************************************************************************/

form{
  width: 100%;
  display: inline-block;
}

fieldset{
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: none;
  text-align: left;
  padding: 5% 0%;
}

legend{
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 0% 2%;
  margin: 0 auto;
}

label{
  display: inline-table;
  min-width: 133px;
  text-align: right;
}

input,
select{
  display: inline-table;
  min-width: 174px;
}

.span{
  width: 200px;
  margin-left: 5px;
  padding-left: 5px;
  display: -webkit-inline-box;
  color: red;
}

.textGreen{
  color: green;
}


/*********************************************************************************/
/* @media                                                                       */
/*********************************************************************************/

@media screen and (max-width: 770px){

  .container{ flex-wrap: wrap;}
  .contenu { flex-basis: 100%;}
}

@media screen and (max-width: 768px){

  /* .contenu { flex-grow: 1;} */
  form{ min-width: 345px;}
  

/******** Menu mobile ************/
  .hide-on-mobile{ display: none; }
  .show-on-mobile{ display: block; }
  

  #menuPrincipale{
    position: absolute;
    background-color: #282828;
    width: 100%;
    left: 0;
    top: 6%;
    padding: 2rem;
    overflow: auto;
    z-index: 1;
  }

  #menuPrincipale li,
  #menuPrincipale a{
    width: 100%;
    color: #fff;
    text-decoration: none;
  }

  #menuPrincipale > ul > li{
    border-top: 1px solid #fff;
  }

  #menu li:hover a, #menu li.active a,
  #menuPrincipale li:hover a, #menuPrincipale li.active a
  {
    background: none;
    border-radius: none;
    color: none;
  }

}
